# Segmenting and Clustering Neighborhoods in Toronto - PART2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

The problem with this Package is you have to be persistent sometimes in order to get the geographical coordinates of a given postal code. So you can make a call to get the latitude and longitude coordinates of a given postal code and the result would be None, and then make the call again and you would get the coordinates. So, in order to make sure that you get the coordinates for all of our neighborhoods, you can run a while loop for each postal code. Taking postal code M5G as an example, your code would look something like this:

Given that this package can be very unreliable, in case you are not able to get the geographical coordinates of the neighborhoods using the Geocoder package, here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

Use the Geocoder package or the csv file to create the following dataframe:

Important Note: There is a limit on how many times you can call geocoder.google function. It is 2500 times per day. This should be way more than enough for you to get acquainted with the package and to use it to get the geographical coordinates of the neighborhoods in the Toronto.

In [1]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 2.3MB/s
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.6.20)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [2]:
import pandas as pd
import numpy as np
import geocoder

In [3]:
# Upload the dataset we get from first part
from google.colab import files
uploaded = files.upload()

Saving cleaned_toronto.csv to cleaned_toronto.csv

In [4]:
df = pd.read_csv('cleaned_toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [6]:
print("Shape: {}".format(df.shape))
df.describe()

Shape: (103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M9V  North York    Downsview
freq            1          24            4

In [10]:
coordinates = pd.read_csv('https://cocl.us/Geospatial_data')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df['Latitude'] = coordinates['Latitude']
df['Longitude'] = coordinates['Longitude']

In [12]:
df.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [14]:
# To check coordinates
coordinates[coordinates['Postal Code'] == "M1H"]

  Postal Code   Latitude  Longitude
4         M1H  43.773136 -79.239476

In [17]:
df[df['Postalcode'] == 'M1H']

  Postalcode      Borough Neighborhood   Latitude  Longitude
4        M1H  Scarborough    Cedarbrae  43.773136 -79.239476

In [18]:
df.head(20)

   Postalcode      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476
5         M1J  Scarborough  ...  43.744734 -79.239476
6         M1K  Scarborough  ...  43.727929 -79.262029
7         M1L  Scarborough  ...  43.711112 -79.284577
8         M1M  Scarborough  ...  43.716316 -79.239476
9         M1N  Scarborough  ...  43.692657 -79.264848
10        M1P  Scarborough  ...  43.757410 -79.273304
11        M1R  Scarborough  ...  43.750072 -79.295849
12        M1S  Scarborough  ...  43.794200 -79.262029
13        M1T  Scarborough  ...  43.781638 -79.304302
14        M1V  Scarborough  ...  43.815252 -79.284577
15        M1W  Scarborough  ...  43.799525 -79.318389
16        M1X  Scarborough  ...  43.836125 -79.205636
17        M2H   North York  ...  43.803762 -79.363452
18        M2J   North York  ...  43.778517 -79.346556
19        M2K   North York  ...  43.786947 -79.385975

[20 rows x 5 columns]

In [19]:
df.to_csv('toronto_coord.csv',index=False)